# Keyboard layot
setxkbmap latam &

# Compositor
picom --experimental-backends &

# Wallpaper
nitrogen --restore &

# Battery icon
cbatticon &

# Udiskie
udiskie -t -N &

# NetworkManager
nm-applet &

# Desktop Manager
lxsession &
