### Keyboard layout ###

# Latinoamerica
setxkbmap latam &

# English (US)
# setxkbmap us &

# English (UK)
# setxkbmap uk &

# Español (España)
# setxkbmap es &

# Compositor
picom --experimental-backends &

# Wallpaper
nitrogen --restore &

# Battery icon
cbatticon &

# Udiskie
udiskie -t -N &

# NetworkManager
nm-applet &

# Desktop Manager
lxsession &

# Screensaver
xscreensaver --no-splash &
